body {

    background-color: #2F4F4F;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: "header header header" ". container ." "footer footer footer";


}

header{
    grid-area: header;
}
.container{
    grid-area: container;

}
.image,
figure {
    position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 640px;
	max-height: 360px;
	height: auto;
    width: 48%;
	background-color: #fff;
    color: #fff;
	text-align: center;
	cursor: pointer;
}
div h2,
figure figcaption {
	text-transform: uppercase;
	font-size: 1.25em;
	backface-visibility: hidden;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

div h2,
figure h2{


    opacity: 0;
    transition: transform 0.35s;
    transform: translate3d(0,30%,0);
}

div img,
figure>img{
    position: relative;
    display: block;
    max-width: 100%;
    min-height: 100%;
    opacity: 0.95;
    transition: transform 0.35s;
    transform-origin: 50% 50%;

}
.image:hover h2{
    opacity: 1;
    transition: 0.5s;
}
.image:hover img,
figure:hover img{

    transform: scale3d(0.95, 0.95, 1);

}
figure:hover h2{
    opacity: 1;
    transform: translate3d(0,15%,0);

}
footer {
    grid-area: footer;
}
